* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    

   
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
